In [11]:
import akshare as ak
# pe_df = ak.stock_a_indicator_lg()

In [3]:
pe_df

,trade_date,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv
0,2000-08-23,50.5644,57.0326,9.1190,16.2746,18.1904,4.8030,4.8030,2.807291e+06
1,2000-08-24,50.5924,57.0642,9.1240,16.2836,18.2004,4.8004,4.8004,2.808843e+06
2,2000-08-25,50.5924,57.0642,9.1240,16.2836,18.2004,4.8004,4.8004,2.808843e+06
3,2000-08-28,50.5365,57.0011,9.1139,16.2656,18.1803,4.8057,4.8057,2.805740e+06
4,2000-08-29,50.3967,56.8435,9.0887,16.2206,18.1300,4.8190,4.8190,2.797980e+06
...,...,...,...,...,...,...,...,...,...
5595,2024-05-22,4.8290,4.7950,0.5397,1.3621,1.4165,2.4654,2.4654,2.243324e+07
5596,2024-05-23,4.7622,4.7286,0.5323,1.3432,1.3969,2.5000,2.5000,2.212275e+07
5597,2024-05-24,4.7246,4.6913,0.5281,1.3326,1.3859,2.5199,2.5199,2.194809e+07
5598,2024-05-27,4.8081,4.7742,0.5374,1.3562,1.4104,2.4761,2.4761,2.233621e+07
5599,2024-05-28,4.7622,4.7286,0.5323,1.3432,1.3969,2.5000,2.5000,2.212275e+07

In [ ]:
大盘情况
行业成交情况
实时行情（全体PE）

用vercel来做网页

In [2]:
import akshare as ak

In [6]:
df = ak.stock_sse_summary()
# 提取主板的市盈率
main_board_pe = df.loc[df['项目'] == '平均市盈率', '主板'].values[0]

# 提取科创板的市盈率
kcb_pe = df.loc[df['项目'] == '平均市盈率', '科创板'].values[0]

In [9]:
import akshare as ak

# 获取深圳交易所的市盈率
szse_pe_df = ak.stock_szse_summary(date="20240528")  # 需要指定正确的日期
print(szse_pe_df)

      证券类别     数量          成交金额           总市值          流通市值
0       股票   2888  4.209166e+11  2.917688e+13  2.464389e+13
1     主板A股   1503  2.304093e+11  1.895814e+13  1.700819e+13
2     主板B股     41  5.558183e+07  4.941657e+10  4.926907e+10
3    创业板A股   1344  1.904516e+11  1.016933e+13  7.586434e+12
4       基金    691  1.967080e+10  6.729384e+11  6.558377e+11
5      ETF    386  1.914887e+10  6.071274e+11  6.071274e+11
6      LOF    293  4.443300e+08  3.222022e+10  3.222022e+10
7    封闭式基金      1  1.253348e+06  1.639270e+09  1.639270e+09
8   基础设施基金     11  7.634970e+07  3.195149e+10  1.485082e+10
9       债券  13652  2.872436e+11           NaN           NaN
10    债券现券  13019  6.278659e+10  7.187794e+13  2.758846e+12
11    债券回购     15  2.240323e+11           NaN           NaN
12     ABS    618  4.247094e+08  4.204161e+11  4.204161e+11
13      期权    430  4.768732e+08           NaN           NaN

c:\ProgramData\anaconda3\Lib\site-packages\akshare\stock\stock_summary.py:40: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  temp_df.iloc[:, 2:] = temp_df.iloc[:, 2:].applymap(lambda x: x.replace(",", ""))

'34.68'

In [4]:
stock_sse_summary_df

      项目         股票         主板       科创板
0   流通股本   45705.92   44342.31   1363.61
1    总市值  483478.18  432425.29   51052.9
2  平均市盈率      13.28      12.52     34.68
3   上市公司       2273       1701       572
4   上市股票       2312       1740       572
5   流通市值   447870.9  412219.54  35651.36
6   报告时间   20240528   20240528  20240528
8    总股本   49218.86   47068.59   2150.27

In [12]:
# 市盈率筛选板块
stock_zh_a_spot_em_df[stock_zh_a_spot_em_df['市盈率-动态'] < 10]

NameError: name 'stock_zh_a_spot_em_df' is not defined